---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import Badge from "../components/Badge.astro"
import ProjectFrame from "../components/ProjectFrame.astro"
import Title from "../components/Title.astro"
---

<Layout title="IkarosKurtz">
  <main class="gradient">
    <Hero />
    <section
      class="flex flex-col content-center items-center justify-center w-[60%] my-[2rem] mx-auto"
    >
      <Title>Projects</Title>
      <div>
        <ProjectFrame
          description="Un manejador de proyectos, enfocado para devs"
          title="CodeLauncher"
          image=""
        />
        <ProjectFrame
          description="Un manejador de proyectos, enfocado para devs"
          title="CodeLauncher"
          image=""
        />
        <ProjectFrame
          description="Un manejador de proyectos, enfocado para devs"
          title="CodeLauncher"
          image=""
        />
        <ProjectFrame
          description="Un manejador de proyectos, enfocado para devs"
          title="CodeLauncher"
          image=""
        />
        <ProjectFrame
          description="Un manejador de proyectos, enfocado para devs"
          title="CodeLauncher"
          image=""
        />
        <ProjectFrame
          description="Un manejador de proyectos, enfocado para devs"
          title="CodeLauncher"
          image=""
        />
        <ProjectFrame
          description="Un manejador de proyectos, enfocado para devs"
          title="CodeLauncher"
          image=""
        />
        <ProjectFrame
          description="Un manejador de proyectos, enfocado para devs"
          title="CodeLauncher"
          image=""
        />
      </div>
    </section>
  </main>
</Layout>

<style>
  .gradient {
    background: linear-gradient(334deg, #dcfce9, #16a354, #052e19);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
