---
// Supports weights 300-700
import "@fontsource-variable/space-grotesk"
import "atropos/atropos.css"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="gradient relative -z-[2]">
    <slot />
    <footer class="border-t-2 mt-8 border-algae-green-900 text-text">
      <p>
        Built with <a href="https://astro.build">Astro</a>
      </p>
    </footer>
  </body>
</html>

<style is:global>
  .gradient {
    background: linear-gradient(
      334deg,
      var(--color-algae-green-600),
      var(--color-algae-green-800),
      var(--color-algae-green-950)
    );
    bckground-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  :root {
    --color-algae-green-50: #f0fdf5;
    --color-algae-green-100: #dcfce9;
    --color-algae-green-200: #bbf7d4;
    --color-algae-green-300: #81eeb0;
    --color-algae-green-400: #4ade8a;
    --color-algae-green-500: #22c569;
    --color-algae-green-600: #16a354;
    --color-algae-green-700: #158044;
    --color-algae-green-800: #166539;
    --color-algae-green-900: #145331;
    --color-algae-green-950: #052e19;
  }

  html {
    @apply bg-algae-green-950;

    font-family: "Space Grotesk Variable", system-ui, sans-serif;
  }

  body {
    margin: auto;
    min-height: 100vh;

    @apply text-text-w;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-algae-green-800);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-algae-green-500);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-algae-green-400);
  }

  ::selection {
    background: var(--color-algae-green-400);
    color: var(--color-algae-green-950);
  }

  ::-moz-selection {
    background: var(--color-algae-green-400);
    color: var(--color-algae-green-950);
  }
</style>
